@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #03111B;
    color: #FFBB55;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

/* Heading */
.title{
    font-weight: 800;
    letter-spacing: 3px;
    font-size: 40px;
    margin-top: 60px;
}

/* Cards Container */
.cards-container{
    background: rgba(198, 191, 191, 0.176);
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;

}

/* Single Card */
.cards-container .single-card{
    width: 130px;
    height: 130px;
    background: #fff;
    border-radius: 10px;
}